<header class="navbar navbar-fixed-top navbar-inverse" id="header">
  <div class="container">
    <%= link_to "Sample App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="header-list" href="/">トップ</a></li>
        <% if logged_in? %>
          <li><a class="header-list" href="/users">利用者一覧</a></li>
          <li class="dropdown open">
          <a href="#" class="dropdown-toggle header-list" data-toggle="dropdown" id="dropdown-title" aria-expanded="true">
              ゲスト管理者 <b class="caret"></b>
            </a>
              <ul class="dropdown-menu">
              <li class="dropdown-header">ユーザー</li>
              <li><a href="/users/1">プロフィール</a></li>
              <li><a href="/users/1/edit">設定</a></li>
              <li class="dropdown-header">タスク</li>
              <li><a href="/users/1/tasks">タスク一覧</a></li>
              
              <li class="divider"></li>
              <li><a rel="nofollow" data-method="delete" href="/logout">ログアウト</a></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path , class:"header-list" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
